<footer class="mastfoot mt-5 text-muted text-center text-small">
  <div class="inner">
    <p class="text-muted">
      <img src="../images/company-logo.png" width="35px" /> &copy; 2020 Kulobal Ltd.
    </p>
    <!-- <ul class="list-inline">
      <li class="list-inline-item"><a href="#">개인정보처리방침</a></li>
      <li class="list-inline-item"><a href="#">운영정책</a></li>
      <li class="list-inline-item"><a href="#">고객센터</a></li>
    </ul> -->
  </div>
</footer>
