<div class="side-navbar">
  <h4>My Account</h4>
  <ul>
    <li><a href="/account/profile" class="nav-item">Account Info</a></li>
    <li><a href="/account/manage-address" class="nav-item">Manage Address</a></li>
    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
  </ul>
</div>
