<%- include("partials/header"); -%>
<!-- Custom styles -->
<link href="css/main.css" rel="stylesheet">
</head>

<body class="text-center" style="background-color: #b6d5e1">
<%- include("partials/navbar"); -%>

<main role="main">
  <div class="container py-4">
    -- Code in here --
  </div>
</main>

<!-- FOOTER -->
<%- include("partials/copyright"); -%>
<%- include("partials/footer"); -%>
