<%- include("partials/header"); -%>
<!-- Custom styles -->
<link href="css/main.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="" style="background-color: #b6d5e1">
<%- include("partials/navbar"); -%>

<main role="main">
  <div class="container">
    <!-- Code starts here -->
    <h3 class="mt-4 mb-4 text-dark"><a href="/home"><i class="fas fa-arrow-left text-dark mr-3"></i></a>Discover</h3>
    <div class="memory-box my-4 p-1 bg-white rounded box-shadow">
      <div class="row p-3">
        <div class="col-2">
          <img class="rounded" src="https://i1.sndcdn.com/artworks-000420504324-qbn3os-t500x500.jpg" alt="Profile image" style="height:150px;width:150px;"></img>
        </div>
        <div class="memory-content px-4 col-10" style="word-wrap: break-word; text-align:left;">
          <h6><a href="#">Uncle Harold</a></h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="memory-attachment">
            <img class="rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMpKIIrVej3FnOZ6NzJ8XMUneX5T8xWRKCIA&usqp=CAU" alt="Attachment: memory photo"></img>
          </div>
          <div class="py-3 align-items-end">
            <small class="text-muted">2 hours ago</small>
            <span class="float-right">
              <i class="material-icons px-2">comment</i>
              <i class="material-icons px-2">reply</i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="memory-box my-4 p-1 bg-white rounded box-shadow">
      <div class="row p-3">
        <div class="col-2">
          <img class="rounded" src="https://i.pinimg.com/originals/9e/91/a3/9e91a3da37242e8da2edd3f071a9bf10.jpg" alt="Profile image" style="height:150px;width:150px;"></img>
        </div>
        <div class="memory-content px-4 col-10" style="word-wrap: break-word; text-align:left;">
          <h6><a href="#">Prof. Harold</a></h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="py-3">
            <small class="text-muted">2 hours ago</small>
            <span class="float-right">
              <i class="material-icons px-2">comment</i>
              <i class="material-icons px-2">reply</i>
            </span>
          </div>
          <hr></hr>
          <div class="row py-1">
            <div class="col-2">
              <img class="rounded" src="https://pbs.twimg.com/media/D-A5UpWUcAAsASS.jpg" alt="Profile image" style="height:150px;width:150px;"></img>
            </div>
            <div class="comment-content col-10" style="word-wrap: break-word; text-align:left;padding-left:50px;">
              <h6><a href="#">Katie</a></h6>
              <p>slfhajkdf</p>
              <div class="py-3">
                <small class="text-muted">2 hours ago</small>
                <span class="float-right">
                  <i class="material-icons px-2">reply</i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="memory-box my-4 p-1 bg-white rounded box-shadow">
      <div class="row p-3">
        <div class="col-2">
          <img class="rounded" src="https://i.pinimg.com/236x/c8/37/81/c83781c37e6e7fd44f7e398e33dd36de--frog-meme-gym-humor.jpg" alt="Profile image" style="height:150px;width:150px;"></img>
        </div>
        <div class="memory-content px-4 col-10" style="word-wrap: break-word; text-align:left;">
          <h6><a href="#">Pepe the frog</a></h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <div class="py-3">
            <small class="text-muted">2 hours ago</small>
            <span class="float-right">
              <i class="material-icons px-2">comment</i>
              <i class="material-icons px-2">reply</i>
            </span>
          </div>
        </div>
      </div>
    </div>

    <br></br>

    <div>
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item px-3"><a href="#"><<</a></li>
        <li class="page-item px-3"><a href="#">1</a></li>
        <li class="page-item px-3"><a href="#">2</a></li>
        <li class="page-item px-3"><a href="#">3</a></li>
        <li class="page-item px-3"><a href="#">>></a></li>
      </ul>
    </div>
    <!-- Code ends here -->
  </div>
</main>

<!-- FOOTER -->
<%- include("partials/copyright"); -%>
<%- include("partials/footer"); -%>
