<%- include("partials/header"); -%>
<!-- Custom styles -->
<link href="css/main.css" rel="stylesheet">
</head>

<body class="text-center bg-light">
<%- include("partials/navbar"); -%>

<main role="main">
  <h2>Test content</h2>
</main>

<!-- FOOTER -->
<%- include("partials/copyright"); -%>
<%- include("partials/footer"); -%>
