html,
body {
  height: 100%;
}

body {
  -ms-flex-align: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60%;
}

.post {
  position: relative;
  max-width: 470px;
  padding: 15px;
  margin: auto;
}

.container {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 10px;
  justify-content: normal;
}

.container {
  /* grid-template-areas:
    "category tag files"
    "title title title"
    "tagName newField newField"
    "contents contents contents" */
}

.row {
  display: flex;
  column-gap:10px;
  width: 450px;
  padding-right: 0px;
}
.row1 {
  grid-template-columns: 160px 130px 130px;
}

.row2 {
  display: flex;
}
.row3 {
  width: 95%;
  grid-template-columns: 150px 250px;
}
.row4 {
  height: 400px;
}

#btn-post {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  width: 70px;
}

#btn-cancel {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin-left: 300px;
  width: 70px;
}

.option-box {
  background-color: #F1C40F;
}
/* #category {
  grid-area: category;
}

#title {
  grid-area: title;
}

#tagName {
  grid-area: tagName;
}

#newField {
  grid-area: newField;
}

#contents {
  grid-area: contents;
} */
